<p id="notice"><%= notice %></p>

<h1>Leader Board</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Member</th>
      <th>Matches</th>
      <th>Average Score</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to "#{member.first_name} #{member.last_name}", "/members/#{member.id}" %></td>
        <td><%= member.number_of_matches %></td>
        <td><%= member.average_score.round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
